.about-body {
    margin: 32px 0px;
    min-width: 320px;
    height: 100%;
}

.about-picture {
    max-width: 15rem;
    border-radius: 50%;
}

.about-description {
    text-align: center;
}

.about-biography {
    min-width: 320px;
    text-align: center;
}

.about-biography-text {
    text-align: justify;
    padding: 0px 24px;
    font-size: 1.25rem;
}

.about-skills-header {
    margin-bottom: 16px;;
}

.about-skills {
    max-width: 800px;
    margin-bottom: 32px;
}

.about-button-container {
    text-align: center;
    margin-bottom: 56px !important;
}

.about-button {
    width: 224px;
    height: 56px;
}

.about-github-link {
    text-decoration: none;
}